{% extends 'passwords.html' %}
{% block content %}
<br>
  <div class="container">
    <div class="jumbotron_logs">

      <h1 class="set">Login here :</h1>
		<form method="post" >
          {% csrf_token %}
          <label class="label-text" for="username">Username:</label>
          <input type="text" name="username" value='Admin'><br>
<label class="label-text" for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
</div>
  </div>
  <br>
{% endblock %}